body{
	/*background-color:#798e87;*/
	background: url("../images/background.jpg") no-repeat 50% 50% fixed;
	font-family:Arial;
	color:white;
	background-size:cover;

}

.container{
	/*background-color:#ccc591;*/
	float:center;
	width:700px;
	height:400px;
	margin:auto;
	position:absolute;
	clear:both;
	top:0;
	bottom:0;
	right:0;
	left:0;
	color:black;
}

.left-container{
	float:left;
	width:49%;
	height:80%;
	clear:both;
}

.right-container{
	width:50%;
	height:80%;
	border-right:solid 2px #c27d38;
	border-bottom:solid 2px #c27d38;
	vertical-align: middle;
	text-align: center;
	/*line-height:300px;*/
	font-size:400%;
	float:right;
	
}

img{
	max-height: 100%;
	max-width: 100%;
}

p{
	font-size:50%;
}

/*.header{
	height:200px;

}

.hangman_left{
	width:50%;
	padding-top:15px;
	float:left;
	position:absolute;
	height:100%;
	text-align: center;
	margin:0;
	border:dashed 1px white;
}

.instructions{
	padding-top:20px;
	border:dashed 1px white;
	width:245px;
	float:right;
	margin:0;
	height:100%;
	text-align: center;
}

p{
	margin-left:20px;
	margin-right:20px;
}
